body {
    background-color: #f4f4f4;
    color: #a0a0a0;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #777777;
}

hr {
    color: #777777;
    background-color: #777777;
    border: none;
    height: 1px;
    width: 100%;
}

h4 {
    margin: 0px;
}

a:link, a:hover, a:visited {
    color: #848484;
    text-decoration: none;
}

#sidebar p {
    margin-left: 2%;
}

.sidebarLinks {
    color: #abada8;
    text-decoration: none;
    margin-left: 2%;
    font-size: 1.25em;
}

.sidebarRightLinks {
    color: #abada8;
    text-decoration: none;
    margin-left: 2%;
    font-size: 1.25em;
}

#sidebar {
    position: fixed;
    width: 25%;
    height: 90%;
    background-color: #f4f4f4;
    top: 10%;
    left: 0;
    border-right: 1px solid #777777;
    text-align: left;
    padding: 10px;
    overflow: auto;
}

#sidebarRight {
    position: fixed;
    width: 15%;
    height: 90%;
    background-color: #f4f4f4;
    top: 10%;
    right: 0;
    border-left: 1px solid #777777;
    text-align: left;
    padding: 10px;
    overflow: auto;
}

#arrowL {
    position: absolute;
    top: 225px;
    left: 20%;
    padding: 5px;
    width: 5%;
}

#arrowR {
    position: absolute;
    top: 225px;
    right: 20%;
    padding: 5px;
    width: 5%;
}

button {
    border: none;
    cursor: pointer;
    background-color: #f4f4f4;
    color: #777777;
    font-family: "serif";
    font-size: 22px;
}

.textBox {
    width : 30px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #919191;
    text-align: center;
}

#sizeModify {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sizeModify2 {
    width: 65%;
    margin-left: 30%;
    margin-right: 5%;
    text-align: center;
}

#sizeModify3 {
    width: 50%;
    margin-left: 30%;
    margin-right: 20%;
    text-align: center;
}

#sliders {
    width: 100%;
    margin-top: 0px;
}

.slider {
    height: 10px;
    outline: none;
    width: 255px;
    background: #d3d3d3;
    -webkit-appearance: none;
    border-radius: 5px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #dbe5ce;
    cursor: pointer;
    border-radius: 50%;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 10%;
    justify-content: center;
    background-color: #e2e5de;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
}

.navbarLinks:link, .navbarLinks:visited, .navbarLinks:hover {
    color: #abada8;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    font-size: 1.5em;
}

.navbarLinks:hover {
    color: #999b95;
}

#starterHeader, #sizeModify, #sizeModify2, #sizeModify3 {
    margin-top: 8%;
}
